.DS_Store
{{cookiecutter.app_name}}/npm-debug.log
{{cookiecutter.app_name}}/node_modules/
{{cookiecutter.app_name}}/.sass_cache
{{cookiecutter.app_name}}/bower_components/
{{cookiecutter.app_name}}/{{cookiecutter.app_name}}/