body {
  border-top:10px $olive solid;
  font-family:"Courier", monospace;
}
p {
  line-height:1.3em;
  color:$black;
  span {
    color:$gray;
  }
}
a { 
  color:$purple;
}
button {
  background-color:$purple;
  color:$white;
  font-size:0.9em;
  text-transform: uppercase;
  font-family:"Courier", monospace;
  border-radius:3px;
  padding:1em;
  border:none;
}